<article class="post {{post_class}}">
    <% if (has_thumbnail(post)) { %>
        <a  href="<%- url_for(post.link ? post.link : post.path) %>" class="cover js-post-normal-cover" url="<%= get_thumbnail(post) %>">
            <time class="post-date" datetime="<%= date_xml(post.date) %>"> <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg> <%= date(post.date) %></time>
            <div class="view"> 查看详情 <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg> </div>
        </a>
    <% } %>
    <header class="post-header">
        <h2 class="post-title"><a href="<%- url_for(post.link ? post.link : post.path) %>"><%= post.title %></a></h2>
    </header>
    <section class="post-excerpt">
        <p><%- post.excerpt ? post.excerpt : post.content.substr(0,52)+'...' %> <a class="read-more" href="<%- url_for(post.path) %>">详情 &raquo;</a></p>
    </section>
    <footer class="post-meta">
        <% if (post.tags && post.tags.length) { %>
        <div class="tags">
            <svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg>
            <%- list_tags(post.tags, {
                class: 'has-link-grey ',
                show_count: false,
                style: 'link'
            }) %>
        </div>
        <% } %>
    </footer>
</article>