<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><%= page_title() %></title>

<meta name="HandheldFriendly" content="True" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
/>

<!-- <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
<link rel="dns-prefetch" href="//s1.wxzxzj.com" />
<link rel="dns-prefetch" href="//img1.wxzxzj.com/" /> -->

<% if (has_config('rss')) { %>
<link
    rel="alternative"
    href="<%- get_config('rss') %>"
    title="<%= get_config('title') %>"
    type="application/atom+xml"
/>
<% } %> 

<% if (has_config('favicon')) { %>
<link
    rel="icon"
    href="<%- url_for(get_config('favicon')) %>"
    type="image/x-icon"
/>
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="<%- url_for(get_config('favicon')) %>"
/>
<% } %>

<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<script
    type="text/javascript"
    src="//s1.wxzxzj.com/f7e0b2d4fa15/modernizr.custom.js"
></script>
<!-- {{! Ghost outputs important style and meta data with this tag }} {{ ghost_head }} -->
<script type="text/javascript">
    function addStyleString(n) {
        var r = document.createElement("style");
        (r.innerHTML = n), document.head.appendChild(r);
    }
    function generateColorCss() {
        for (var n = "", r = 0; r < 10; r++) {
            var a = parseInt(255 * Math.random()),
                t = parseInt(255 * Math.random()),
                e = parseInt(255 * Math.random()),
                o = "rgb(" + [a, t, e].join(",") + ")";
            (n +=
                "#content article:nth-child(10n + " +
                (r + 1) +
                ") .cover {background-color:" +
                o +
                "}"),
                (a = 50 + parseInt(100 * Math.random())),
                (t = 30 + parseInt(50 * Math.random())),
                (e = 120 + parseInt(135 * Math.random())),
                (o = "rgb(" + [a, t, e].join(",") + ")"),
                (n +=
                    "#slideshow .slide:nth-child(10n + " +
                    (r + 1) +
                    ") {background-color:" +
                    o +
                    "}");
        }
        addStyleString(n);
    }
    generateColorCss();
</script>
